<html>
    <head>
        <title>Kaja's blog</title>
    </head>
    <body>
      <h1>Velkommen til Kajas blog! <3 </h1>

        <em>Dette er viktig tekst</em>
      </br>
        <strong>Dette er VELDIG viktig tekst</strong>
      </br>
      <p> <a href="http://weknowyourdreams.com/dog.html">link</a>Klikk her for bilde av en hund</p>
        <p>Hi there!</p>
        <p>It <b>works!</b></p>

        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
        
    </body>
</html>
